{% extends admin_layout %}

{% block layout -%}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li class="active">
            Logs
        </li>
    </ol>

    <table class="table table-condensed tablesorter" id="log_table">
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Categorie</th>
            <th>Action</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user }}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.action }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('admin_logger_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
                        Voir
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/table_sorter_theme/style.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('public/js/jquery.tablesorter.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
                    $("#log_table").tablesorter({
                        3 : {
                            sorter : false
                        }
                    });
                }
        );
    </script>
{% endblock %}

